.wrapper {
  position: relative;
  border: solid 4px white;
  border-radius: 10px;
}

.dropzone {
  border-width: rem(1px);
  padding: 50px;
}

.icon {
  color: white;
}

.control {
  position: absolute;
  width: rem(250px);
  left: calc(50% - rem(125px));
  bottom: rem(-20px);
}
